<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= product.title %></h1>
            <hr>
<<<<<<< HEAD
            <div class="image">
=======
            <div>
>>>>>>> 1c8fab9cf4a02c0e2d795794443176d8f2627ae1
                <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
            </div>
            <h2><%= product.price %></h2>
            <p><%= product.description %></p>
<<<<<<< HEAD
            <% if (isAuthenticated) {  %>
                <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                <% } %>
=======
            <%- include('../includes/add-to-cart.ejs') %>
>>>>>>> 1c8fab9cf4a02c0e2d795794443176d8f2627ae1
        </main>
        <%- include('../includes/end.ejs') %>